<!DOCTYPE html>
<html lang = "ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Exam04</title>
</head>
<body>
	<h1>ユーザー登録</h1><br>
	
	<form action="finished.html" th:action="@{/exam04/receive-info}" method="post" th:object="${exam04Forem}">
	<
	
	名前:<input type ="text" name="product1" th:field="*{name}"><br> 
	年齢:<input type="text" name="age" th:field="*{age}"><br>
	コメント:<br>
	<textarea name ="comment" th:field="*{comment}"></textarea></br>
	<button>登録</button>
	</form>
</body>
</html>	
	
	
	
	