<!DOCTYPE html>
<html lang = "ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Exam03</title>
</head>
<body>

	<form action="finished.html" th:action="@{/exam03/show-amount}" method="POST" th:object="${exam03Form}">
		<div th:if ="${#fields.hasErrors('product1')}" th:errors="color:red">エラー！</div>
		商品1:<input type ="text" name="product1" th:field="*{product1}"><br> 
		商品2:<input type ="text" name="product2" th:field="*{product2}"><br> 
		商品3:<input type ="text" name="product3" th:field="*{product3}"><br> 
		<button>購入</button>
	</form>
</body>
</html>

	
